.wrapper {
  display: flex;
  flex-direction: column;
  // max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  // justify-content: center;
  min-height: 70vh;

  // @media only screen and (max-width: 1500px) {
  //   max-width: calc((285px * 5) + (20px * 4) + 8rem);
  // }

  // @media only screen and (max-width: 1500px) {
  //   max-width: calc((285px * 4) + (20px * 3) + 8rem);
  // }

  @media only screen and (max-width: 400px) {
    padding: 1rem;
  }

  // 600px
  @media only screen and (min-width: 400px) {
    // change cards to span wide
    padding: 2rem;
  }

  @media only screen and (min-width: 660px) {
    padding: 2rem;
    max-width: calc((285px * 2) + (20px * 1) + 4rem);
  }

  // 1030px
  @media only screen and (min-width: 1030px) {
    padding: 4rem;
    max-width: calc((285px * 3) + (20px * 2) + 8rem);
  }

  @media only screen and (min-width: 1350px) {
    padding: 4rem;
    max-width: calc((285px * 4) + (20px * 3) + 8rem);
  }

  @media only screen and (min-width: 1640px) {
    padding: 4rem;
    max-width: calc((285px * 5) + (20px * 4) + 8rem);
  }
}

.narrow {
  max-width: 300px;
  width: 100%;
  margin: auto 0;
  align-self: center;
}

.subtext {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin-top: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 2rem 0rem;
  justify-content: space-between;
  align-items: center;
}

.tracker-card {
  padding: 2rem 1.5rem;
  border-radius: 4px;
  border: 1px solid #ececec;
  width: 285px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: border 0.2s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    /* border: 1px solid black; */
    transform: scale(1.02) rotate(2deg);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .icon-gray {
      color: black;
    }
  }

  @media only screen and (max-width: 660px) {
    width: 100%;
  }
}

.tracker-card-backburner {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.tracker-cards {
  // max-width: 1200px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  padding: 8px 16px;
  font-weight: 500;
  background-color: black;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.button-secondary {
  background-color: white;
  border: 1px solid #ececec;
  color: #666666;
  font-weight: 400;
  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: none;
    color: black;
    border: 1px solid #ececec;
  }
}

.icon-gray {
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.2s ease-in-out;
}

.main-centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-buttons {
  display: flex;
  min-width: 100%;
  gap: 10px;

  & > * {
    width: 100%;
  }
}

.progress-section {
  width: 200px;

  transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  z-index: 0;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid #000000;
    z-index: 100;
    border-radius: 4px;
  }
}

.progress-column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > *:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.tracker-description {
  padding: 1rem 2rem;
  background-color: #f9f9f9;
  color: #474747;
  text-align: center;
  border-radius: 12px;
  width: 300px;
}
